# dependencies
/node_modules
package-lock.json
.yarn/install-state.gz

# next.js
/.next
/out

# build
tsconfig.tsbuildinfo
*.tsbuildinfo

# env files
.env
.env*.local
.env.local

# debug
npm-debug.log*
test-results/
playwright-report/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# vercel
.vercel
/.playwright-mcp
.cache/
